{% extends "powermap/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block header %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'powermap/index.css' %}">
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endblock %}
{% block content %}
    <div id='map' class="col-xs-12">
    {% if user.is_authenticated %}
      <nav class='menu-ui'>
        {% csrf_token %}
        <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" id="change_next">Change Next Location</button>
          {% if activity %}
            <button type="button" class="btn btn-primary" id="set_active">Deactivate</button>
          {% else %}
            <button type="button" class="btn btn-primary" id="set_active">Activate</button>
          {% endif %}
        </div>
      </nav>
    {% endif %}
    </div>
  {% if authuser %}
    <script>
      var isAuth = true;
    </script>
  {% else %}
    <script>
      var isAuth = false;
    </script>
  {% endif %}
  {% if admin %}
    <script>
      var isAdmin = true;
    </script>
  {% else %}
    <script>
      var isAdmin = false;
    </script>
  {% endif %} 
  <script src="{% static 'powermap/bundle.js' %}"></script>
{% endblock %}

{% block navbar_content %}
  <li><a href="#" data-toggle="modal" data-target="#myModal">Post a Note</a></li>
{% endblock %}

{% block modal %}
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Post a note about your situation</h4>
      </div>
      <div class="modal-body">
        {% crispy form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}